Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
Logs/
.plastic/
TempAssembly.dll
ignore.conf

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
[Mm]emoryCaptures/
[Ll]ogs/

**/Assets/AssetStoreTools
**/Assets/Plugins/PlasticSCM*

*.private
*.private.meta
*.private.*
*.private.*.meta

.vs/
.vscode/
.idea/
.gradle/
.consulo/

ExportedObj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.app
*.unitypackage

~UnityDirMonSyncFile~*

**/Assets/AddressableAssetsData/*/*.bin*
**/Assets/StreamingAssets/aa.meta

.DS_Store*
Thumbs.db
Desktop.ini